<div class="header d-flex justify-content-between px-2 mb-2">
    <div class="header-left">
        <h4 class="mb-0">Adresse: Boulevarden 25, 7100 Vejle</h4>
    </div>
    <div class="header-right">
        <h4 class="mb-0">Dags dato: @todayDate</h4>
    </div>
</div>
<hr />
@code {
    private string todayDate = DateTime.Now.ToString("dd-MM-yyyy");
}
