@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="header">
            <div class="header-left">
                <p>Adresse: Boulevarden 25, 7100 Vejle</p>
            </div>
            <div class="header-right">
                <p>Dags dato: @todayDate</p>
            </div>
        </div>
        <hr />


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private string todayDate = DateTime.Now.ToString("dd-MM-yyyy");
}
