<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="">
            <img src="logo.png" alt="logo" class="brand-logo" />
            <span style="font-size: 28px; line-height: 30px;">Scooterland</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="collapse navbar-collapse" id="navbarNav">
    <nav class="flex-column">
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Forside
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="mekaniker-ordre">
                <span class="oi oi-wrench" aria-hidden="true"></span> Mekaniker Ordrer
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="opretordre">
                <span class="oi oi-task" aria-hidden="true"></span> Opret Ordrer
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="opretkunde">
                <span class="oi oi-plus" aria-hidden="true"></span> Opret Kunde
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ordreoversigt">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ordre Oversigt
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ydelseoversigt">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Ydelse Oversigt
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="kundeoversigt">
                <span class="oi oi-people" aria-hidden="true"></span> Kunde Oversigt
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="mekaniker-oversigt">
                <span class="oi oi-people" aria-hidden="true"></span> Mekaniker Oversigt
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="fakturapage">
                <span class="oi oi-dollar" aria-hidden="true"></span> Faktura
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="maerke-forbindelser">
                <span class="oi oi-link-intact" aria-hidden="true"></span> Mærke Forbindelser
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
