<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="logo.png" alt="logo" class="brand-logo" />
            Scooterland
        </a>

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Forside
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="mekaniker-ordre">
                <span class="oi oi-wrench" aria-hidden="true"></span> Mekaniker Ordrer
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="opretordre">
                <span class="oi oi-task" aria-hidden="true"></span> Opret Ordrer
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="opretkunde">
                <span class="oi oi-plus" aria-hidden="true"></span> Opret Kunde
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ordreoversigt">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Ordre Oversigt
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ydelseoversigt">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Ydelse Oversigt
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="kundeoversigt">
                <span class="oi oi-people" aria-hidden="true"></span> Kunde Oversigt
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="fakturapage">
                <span class="oi oi-dollar" aria-hidden="true"></span> Faktura
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="opretkunde">
                <span class="oi oi-plus" aria-hidden="true"></span> Opret Kunde
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="kundeoversigt">
                <span class="oi oi-plus" aria-hidden="true"></span> Kunde Oversigt
            </NavLink>
        </div>
        <div class="nav-item px-1">
            <NavLink class="nav-link" href="ydelseoversigt">
                <span class="oi oi-plus" aria-hidden="true"></span> Ydelse Oversigt
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
