<h3>SharedHeader</h3>

@code {
    private string todayDate = DateTime.Now.ToString("dd-MM-yyyy");
}

<div class="text-center mb-4">
    <h2>Scooterland</h2>
    <p>Adresse: Boulevarden 25, 7100 Vejle</p>
    <p>Dags dato: @todayDate</p>
    <hr />
</div>
